@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbars but keep scrolling functionality */
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@layer base {
  :root {
    --background: #ffffff; /* HSL(0, 0%, 100%) */
    --foreground: #1b1b1b; /* HSL(222.2, 84%, 4.9%) */

    --card: #ffffff;
    --card-foreground: #1b1b1b;

    --popover: #ffffff;
    --popover-foreground: #1b1b1b;

    --primary: #111827; /* HSL(222.2, 47.4%, 11.2%) */
    --primary-foreground: #f0faff; /* HSL(210, 40%, 98%) */

    --secondary: #474f55; /* HSL(210, 40%, 96.1%) */
    --secondary-foreground: #111827;

    --muted: #ffffff;
    --muted-foreground: #1b1b1b;

    --accent: #888122;
    --accent-foreground: #111827;

    --destructive: #e63946; /* HSL(0, 84.2%, 60.2%) */
    --destructive-foreground: #f0faff;

    --border: #3174aa; /* HSL(214.3, 31.8%, 91.4%) */
    --input: #41c052;
    --ring: #1b1b1b;

    --radius: 0.5rem;

    --sidebar-background: #f5f5f5; /* HSL(0, 0%, 98%) */

    --sidebar-foreground: #3f4a50; /* HSL(240, 5.3%, 26.1%) */

    --sidebar-primary: #191d1f; /* HSL(240, 5.9%, 10%) */

    --sidebar-primary-foreground: #f5f5f5;

    --sidebar-accent: #e43d3d; /* HSL(240, 4.8%, 95.9%) */

    --sidebar-accent-foreground: #191d1f;

    --sidebar-border: #8a1747; /* HSL(220, 13%, 91%) */

    --sidebar-ring: #339af0; /* HSL(217.2, 91.2%, 59.8%) */
  }

  .dark {
    --background: #000000; /* HSL(0, 0%, 0%) */
    --foreground: #f0faff; /* HSL(210, 40%, 98%) */

    --card: #1e293b; /* HSL(222, 47%, 11%) */
    --card-foreground: #f0faff;

    --popover: #1b1b1b;
    --popover-foreground: #f0faff;

    --primary: #e3e3e3; /* HSL(0, 0%, 89%) */
    --primary-foreground: #111827;

    --secondary: #2c3542; /* HSL(217.2, 32.6%, 17.5%) */
    --secondary-foreground: #f0faff;

    --muted: #2c3542;
    --muted-foreground: #a4afbd; /* HSL(215, 20.2%, 65.1%) */

    --accent: #2c3542;
    --accent-foreground: #f0faff;

    --destructive: #4c0c0c; /* HSL(0, 62.8%, 30.6%) */
    --destructive-foreground: #f0faff;

    --border: #2c3542;
    --input: #2c3542;
    --ring: #cdd6e5; /* HSL(212.7, 26.8%, 83.9%) */
    --sidebar-background: #191d1f;
    --sidebar-foreground: #f3f4f5;
    --sidebar-primary: #3498db; /* HSL(224.3, 76.3%, 48%) */
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #292e34; /* HSL(240, 3.7%, 15.9%) */
    --sidebar-accent-foreground: #f3f4f5;
    --sidebar-border: #292e34;
    --sidebar-ring: #339af0;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
