@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbars but keep scrolling functionality */
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@layer base {
  :root {
    --background: #000000; /* Veranderd naar zwart voor dag thema */
    --foreground: #ffffff; /* Veranderd naar wit voor dag thema */

    --card: #ffffff;
    --card-foreground: #1b1b1b;

    --popover: #ffffff;
    --popover-foreground: #1b1b1b;

    --primary: #111827;
    --primary-foreground: #f0faff;

    --secondary: #474f55;
    --secondary-foreground: #111827;

    --muted: #ffffff;
    --muted-foreground: #ffffff; /* Veranderd naar wit voor tijdzone aanduiding */

    --accent: #888122;
    --accent-foreground: #111827;

    --destructive: #e63946;
    --destructive-foreground: #f0faff;

    --border: #3174aa;
    --input: #41c052;
    --ring: #1b1b1b;

    --radius: 0.5rem;

    --sidebar-background: #f5f5f5;
    --sidebar-foreground: #3f4a50;
    --sidebar-primary: #191d1f;
    --sidebar-primary-foreground: #f5f5f5;
    --sidebar-accent: #e43d3d;
    --sidebar-accent-foreground: #191d1f;
    --sidebar-border: #8a1747;
    --sidebar-ring: #339af0;
  }

  .dark {
    --background: #000000; /* HSL(0, 0%, 0%) */
    --foreground: #f0faff; /* HSL(210, 40%, 98%) */

    --card: #1e293b; /* HSL(222, 47%, 11%) */
    --card-foreground: #f0faff;

    --popover: #1b1b1b;
    --popover-foreground: #f0faff;

    --primary: #e3e3e3; /* HSL(0, 0%, 89%) */
    --primary-foreground: #111827;

    --secondary: #2c3542; /* HSL(217.2, 32.6%, 17.5%) */
    --secondary-foreground: #f0faff;

    --muted: #2c3542;
    --muted-foreground: #a4afbd; /* HSL(215, 20.2%, 65.1%) */

    --accent: #2c3542;
    --accent-foreground: #f0faff;

    --destructive: #4c0c0c; /* HSL(0, 62.8%, 30.6%) */
    --destructive-foreground: #f0faff;

    --border: #2c3542;
    --input: #2c3542;
    --ring: #cdd6e5; /* HSL(212.7, 26.8%, 83.9%) */
    --sidebar-background: #191d1f;
    --sidebar-foreground: #f3f4f5;
    --sidebar-primary: #3498db; /* HSL(224.3, 76.3%, 48%) */
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #292e34; /* HSL(240, 3.7%, 15.9%) */
    --sidebar-accent-foreground: #f3f4f5;
    --sidebar-border: #292e34;
    --sidebar-ring: #339af0;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
